body{
  background: rgb(241, 207, 9);

}
.game-container {
  text-align: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wel{
  font-weight: 800;
  font-size:50px ;

}
.heading{
  font-weight: 1000;
  font-size: 70px;
  margin: auto;
 position: relative;
 bottom: 20px;
}
label{
  display: flex;
}
input{
  height: 25px;
  transform: translateY(14px);
  border:2px solid black;
  font-size: large;
  width: 150px;
}
.winM{
  position: relative;
  bottom: 40px;
}

.var{
  font-weight: bold;
  font-size: large;
}
.direct{
  position: relative;
  bottom: 70px;
  font-size: 40px;
}
.board {
  display: grid;
  gap:0px !important;
  margin: 10px auto;
  position: relative;
  bottom: 100px;
}
.cell {
  width: 60px;
  height: 60px;
  font-size: 40px;
  font-weight: 1000;
  margin: 2px;
  cursor: pointer;
  border-radius:5px;
  border:1px solid;
  border-color: white;
  background: radial-gradient(rgb(241, 207, 9));
  color: black;
  outline:2px solid white;
  
}
.x-cell {
  color: black;
}
.o-cell {
  color: white;
}

.reset-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  bottom: 100px;
  width: 150px;
  background:white;
}
.reset-button:hover{
  background:rgb(230, 230, 230);

}
.reset-button:active{
  background-color: rgb(200, 200, 200);
}
.modal-overview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #333;
  width: 310px;
  height: 100px;
}


.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  background-color: rgb(241, 207, 9);
  outline:2px solid black;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 150px;
  

}
.result{
  font-size:50px;
  position: relative;
  bottom: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
.modal-content button:hover{
 background:orange;
}
.modal-content button:active{
  color: black;
}


/* loading page */
.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: center;
  color: orange;
  height: 100vh;
  font-family: sans-serif;
  background-image: url("../assets/bg_tictactoe.png");
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
}
.loader{
  margin-top: 55vh;
  margin-left: 34vw;
  width: 0;
  height: 50px;
  background-color: #ffbf00;
  animation: filling 3.5s cubic-bezier(.1,.9,.3,.6) forwards;
}
@media (max-width: 768px) {
  .wel {
    font-size: 40px;
  }

  .reset-button {
    padding: 8px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
   .wel {
    font-size: 30px;
  }

  .reset-button {
    padding: 6px;
    font-size: 12px;
  }

  .settings input {
    width: 60px;
    font-size: 12px;
  }
}

@keyframes filling {
  to{
    width: 500px;
  }
}
